{
  "presets": [
    [
      "es2015",
      {
        "modules": false,
        "targets": {
          "node": true,
          "browser": true
        }
      }
    ],
    "stage-3"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "comments": false
}
